.gridDetails {
  display: grid;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.images img {
  width: 100%;
}
.detailsGridTwo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5%;
}
.images2 img {
  width: 30%;
}
.detailsGridThree {
  /* grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr;
      grid-gap: 10px; */
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.detailsGridFour {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-size: 20px;
  padding-top: 15%;
}
.detailsGridTitle {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-rows: 1fr 1fr;
}
.swatches {
  height: 25px;
  padding-top: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  border-collapse: separate;
  border-spacing: 1px;
  border: 1px solid black;
  margin-right: 10px;
}

.button {
  background-color: sandybrown;
  color: black;
  border-radius: 50em;
  height: 48px;
  width: 133px;
}
.buttonTwo {
  background-color: white;
  color: black;
  border-radius: 50em;
  height: 58px;
  width: 183px;
  margin-top: 2%;
}
.swatchesGrid {
  padding-top: 5%;
  padding-bottom: 5%;
}
.sizeGrid {
  padding-bottom: 5%;
  padding-right: 5%;
}

.quanittyGrid {
  padding-top: 4%;
}
