.titleOne {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding-left: 8%;
  padding-bottom: 2%;
  padding-top: 5%;
}
.selectCss {
  background: white;
  border-radius: 3em;
  color: black;
  margin-left: 10px;
  padding-bottom: 20px;
}
.spacer {
  flex: 1;
}
