body {
  font-family: 'Poppins', sans-serif;
}
.box1 {
  color: black;
}
.box2 {
  color: black;
}
.overflow-visible {
  white-space: initial;
}
.box3 {
  color: black;
}
.Header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  height: 15vh;
}
.headLinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 50px;
}

/* .cont  {
  float: left;
  width: 33.33%;
  padding: 5px;
} */
@media screen and (max-width: 600px) {
  .cont {
    width: 50%;
    padding: 5px;
  }
}
/* .image {
  content: "";
  clear: both;
  display: inline;
  
} */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}
.productgrid {
  display: grid;
  padding-bottom: 5%;
}
@media screen and (max-width: 600px) {
  .try {
    display: none;
  }
}
.images img {
  width: 100%;
}
