<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald&family=Permanent+Marker&display=swap"
      rel="stylesheet"
    />

    <!-- Font Awesome -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"> -->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <link
      href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css"
      rel="stylesheet"
    />
    <title>React Boilerplate</title>
  </head>
  <body>
    <div id="app"></div>
    <% if(process.env.NODE_ENV === 'production') { %>
    <script
      crossorigin
      src="https://unpkg.com/react@16/umd/react.production.min.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"
    ></script>
    <% } %>
  </body>
</html>
